<launch>

  <!-- Run Bosch BNO055 IMU -->
  <arg name="bosch_config_file" default="$(find bosch_imu_driver)/config/imu_bosch.yaml"/>
  <node pkg="bosch_imu_driver" type="bosch_imu_node.py" name="bosch_imu_node" output="screen">
    <rosparam file="$(arg bosch_config_file)" command="load"/>
    <remap from="/imu/data" to="/imu_bosch/data"/>
    <remap from="/imu/raw" to="/imu_bosch/raw"/>
  </node>

  <arg name="imu_calib_config_file" default="$(find bosch_imu_driver)/config/imu_calib.yaml"/>
  <node pkg="bosch_imu_driver" type="imu_calib.py" name="imu_calib" output="screen">
    <rosparam file="$(arg imu_calib_config_file)" command="load"/>
  </node>


	<!-- IMU Bosh transformation publisher -->
	<node name="base_link_to_imu_bosch"
			pkg="tf" type="static_transform_publisher"
			args="0.0 0.0 0.0 0.0 0.0 0.0 base_link imu_bosch_link 200" />
</launch>
